html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    user-select: none;
    background-color: #e8f1f5;
}

main {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    flex-grow: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    color: #08334dc9;
    font-size: 14px;
    text-align: center;
    background-color: #e8f1f5;
    width: 100%;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #08334dc9;
}

#logo {
    width: 128px;
    height: 130px;
    margin: 1rem 0 1.5rem 0;
    transition: all 0.2s ease-in-out;
}

input,
button {
    padding: 0.8rem 0;
    border-radius: 0.6rem;
    width: 100%;
}

input[type="text"] {
    background-color: #d6e8f0;
    color: #08324d;
    border: none;
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 20px;
    border: 2px solid #ccdbe2;
}

input[type="text"]:focus {
    border: 2px solid #aebfc7;
}

#buttons {
    display: flex;
    width: 100%;
    gap: 0.7rem;
}

#add-button {
    color: #FDFDFD;
    background-color: #1363DF;
    border: none;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s;
    margin-bottom: 1.5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

#add-button:hover {
    background-color: #1157c0;
}

#clear-button {
    color: #1363DF;
    background-color: transparent;
    border: 2px solid #1363DF;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s;
    margin-bottom: 1.5rem;
}

#clear-button:hover {
    color: #D4213C;
    border-color: #D4213C;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    list-style: none;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    color: #0d4d75;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 20px;
    text-transform: capitalize;
    animation: append-animate .2s linear;
}

ul li:hover {
    background-color: #DFF6FF;
}

#install-button {
    display: none;
}

@keyframes append-animate {
	from {
		margin-right: 2rem;
		opacity: 0;
	}
	to {
		margin-right: 0;
		opacity: 1;
	}
}

.animate-logo {
    opacity: 0;
    margin-top: -130px!important;
}